* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}


.topbar{
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(26, 64, 50);
}

.logo{
  width: 40px;
  height: 40px;
  padding-right: 10px;
  color: white;
}

.topbar-text {
  color: white;
  font-size: 20px;
}

.image-container{
  margin: auto;
  padding: 70px;
  width: 75%;
}

.text-container{
  padding-top: 15px;
  max-height: 250px;
}

.travel-image{
  max-width: 170px;
  height: 250px;
  float: left;
  border-radius: 4px;
  margin-right: 25px;
}

.location{
  padding: 0 10px 0 0;
}


  a:link {color: grey;}
  a:visited {color: grey;}
  a:hover {color: grey;}
  a:active {color: grey;}


.title {
  padding: 10px 0 12px 0;
  font-size: 20x;
}

.start-date{
  font-size: 15px;
  padding: 10px; 
}

.desc{
  font-size: 20px;
}

